.container {
    position: relative;
    margin-top: 25px;
    display: grid;
    grid-gap: 25px;
}

.galery {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    &__heading {
        font-size: 36px;
        text-align: center;
    }
}

