.container {
    display: inline-block;
    width: 100%;
}

.comment {
    display: grid;
    grid-gap: 5px;
    justify-content: start;
    align-items: center;
    justify-items: start;
    padding: 7px 20px;
    border-top: 1px solid #939393;
    &__name {
        font-size: 12.5px;
        font-weight: 700;
        color: #2a5885;
    }
    &__body {
        font-size: 13px;
    }
    &__date {
        font-size: 12.5px;
        color: #939393;
    }
}
